<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - AluraGeek</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/components/toggle.css">
    <link rel="stylesheet" href="../../assets/css/components/info-action.css">
    <link rel="shortcut icon" href="../../assets/img/logo2.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6b07c2fbaa.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="header container1 ">
        <nav class="header__nav" id="header__nav">
            <div class="header__nav-list" id="header__nav-list">
                <!-- <div class="nav-list-item"> -->
                <div class="div-logo">
                    <a class="nav-list-link" href="../../index.html">
                        <i class="fa-solid fa-gamepad"></i>
                        <h1 class="alura">Alura<span class="geek">Geek</span></h1>
                    </a>
                </div>

                <!-- </div>
                <div class="nav-list-item-right"> -->

                <div title="Cambiar Tema" class="theme">
                    <label class="label" id="theme-switch">
                        <span class="toggle" id="toggle">
                            <input class="toggle-input" type="checkbox" id="checkbox_theme" />
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32" id="moon" class="icon">
                                <title>moon-fill</title>
                                <path
                                    d="M24.633 22.184c-8.188 0-14.82-6.637-14.82-14.82 0-2.695 0.773-5.188 2.031-7.363-6.824 1.968-11.844 8.187-11.844 15.644 0 9.031 7.32 16.355 16.352 16.355 7.457 0 13.68-5.023 15.648-11.844-2.18 1.254-4.672 2.028-7.367 2.028z">
                                </path>
                            </svg>

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32" id="sun" class="icon">
                                <title>sun-fill</title>
                                <path
                                    d="M16.001 8c-4.418 0-8 3.582-8 8s3.582 8 8 8c4.418 0 7.999-3.582 7.999-8s-3.581-8-7.999-8v0zM14 2c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM4 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM2 14c1.105 0 2 0.895 2 2 0 1.107-0.895 2-2 2s-2-0.893-2-2c0-1.105 0.895-2 2-2zM4 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM14 30c0-1.109 0.895-2 2-2 1.108 0 2 0.891 2 2 0 1.102-0.892 2-2 2-1.105 0-2-0.898-2-2zM24 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM30 18c-1.104 0-2-0.896-2-2 0-1.107 0.896-2 2-2s2 0.893 2 2c0 1.104-0.896 2-2 2zM24 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2z">
                                </path>
                            </svg>

                            <span class="toggle__btn" id="toggle__btn" />
                        </span>
                    </label>
                </div>
                <!-- </div> -->
            </div>
        </nav>
    </header>
    <main class="main contenedor">
        <div class="card__success">
            <div class="card__success-div">
                <i class="fa-solid fa-check fa-fade"></i>
            </div>
            <h1 class="card__success-title">Registro Completado</h1>
            <p class="card__success-parrafo">Se guardaron existosamente los datos,
                <br /> Puede ver los datos pulsando el boton
            </p>
            <div class="div-boton">
                <a href="index.html" class="boton btn-primary"><i class="fa-solid fa-arrow-left fa-shake"></i>Ver
                    Productos</a>
            </div>
        </div>

    </main>
    <footer class="copyright-area">
        <div class="container1">
            <div class="copyright-text">
                <p>Copyright &copy; Desarrollado con ❤ por <strong>Joel Llallihuaman Giraldo</strong>
                    <br><b>2023</b>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
        integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../controller/product/search-controller.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>