<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - AluraGeek</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/components/toggle.css">
    <link rel="shortcut icon" href="../../assets/img/logo2.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6b07c2fbaa.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/components/modal.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- MODAL DE CREACIÓN DE PRODUCTOS -->
    <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
        style="background: rgba(0,0,0,.7);">
        <div
            class="border border-teal-500 shadow-lg modal-container bg-white w-5/12  mx-auto rounded shadow-lg z-50 overflow-y-auto">
            <form class="modal-content py-4 text-left px-6" data-form-productC>
                <!--Title-->
                <div class="flex justify-between items-center">
                    <p class="text-2xl font-bold"></p>
                    <div class="modal-close cursor-pointer z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!--Body-->
                <div class="relative font-medium flex items-center content-center">
                    <div class="mr-auto ml-auto w-full">
                        <div class="w-full max-w-md mr-auto ml-auto mt-4 mb-1 text-center">
                            <h1 class="text-gray-800 block text-3xl font-extrabold font-title">Creación de Productos</h1>
                        </div>
                        <div class="w-full mr-auto ml-auto mt-4">
                            <div class="bg-white shadow-lg rounded-md px-3 py-3 mb-3 ml-auto mr-auto pt-4"
                                data-form-product>
                                <div class="mb-4">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username"> Nombre
                                        del
                                        Producto: </label>
                                    <input
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        id="username" type="text" placeholder="Ingrese nombre..." data-name required
                                        minlength="3">
                                </div>
                                <div class="mb-4">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username"> Precio ($):
                                    </label>
                                    <input
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        id="username" type="text" placeholder="Ingrese precio..." data-price required
                                        min="1" pattern="^\d+(\.[0-9][0-9]?)?$" title="Ingrese positivos y max 2 decimales">
                                </div>
                                <div class="mb-4 relative">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username">
                                        Categoria:
                                    </label>
                                    <select name="sel-category" id="sel-category"
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        data-category required>
                                        <option value="Consola">Consola</option>
                                        <option value="Star Wars">Star Wars</option>
                                        <option value="Diversos">Diversos</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 top-8 flex items-center pr-4 text-gray-500">
                                        <i class="fas fa-angle-down text-gray-500"></i>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Descripción:
                                    </label>
                                    <textarea placeholder="Ingrese descripcion..." data-description
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        cols="30" rows="3"></textarea>

                                </div>
                                <div class="mb-4">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username"> Foto del
                                        producto: </label>
                                    <div
                                        class="button bg-gold hover:bg-gold-dark text-cream mx-auto cusor-pointer relative">
                                        <input type="file"
                                            class="block text-sm text-gray-700 file:mr-2 file:py-2 file:px-2 file:rounded-md file:border-solid file:border file:border-gray-200 file:text-sm file:bg-white file:text-gray-500 hover:file:bg-gray-100"
                                            data-file required>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="flex justify-end pt-2">
                    <input type="button" class="focus:outline-none modal-close px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300 btn-close" value="Cancelar">
                    <button type="submit"
                        class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white enabled:hover:bg-teal-400 disabled:opacity-60"
                        data-btn-submit>Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- MODAL DE EDICIÓN DE PRODUCTOS -->
    <div class="main-modalE fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
        style="background: rgba(0,0,0,.7);">
        <div
            class="border border-teal-500 shadow-lg modal-container bg-white w-5/12  mx-auto rounded shadow-lg z-50 overflow-y-auto">
            <form class="modal-content py-4 text-left px-6" data-form-productE>
                <!--Title-->
                <div class="flex justify-between items-center">
                    <p class="text-2xl font-bold"></p>
                    <div class="modal-closeE cursor-pointer z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!--Body-->
                <div class="relative font-medium flex items-center content-center">
                    <div class="mr-auto ml-auto w-full">
                        <div class="w-full max-w-md mr-auto ml-auto mt-4 mb-1 text-center">
                            <h1 class="text-gray-800 block text-3xl font-extrabold font-title">Edición de Productos</h1>
                        </div>
                        <div class="w-full mr-auto ml-auto mt-4">
                            <div class="bg-white shadow-lg rounded-md px-3 py-3 mb-3 ml-auto mr-auto pt-4"
                                data-form-product>
                                <div class="mb-4">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username"> Nombre
                                        del
                                        Producto: </label>
                                    <input
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        id="username" type="text" placeholder="Ingrese nombre..." data-nameE required
                                        minlength="3">
                                </div>
                                <div class="mb-4">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username"> Precio ($):
                                    </label>
                                    <input
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        id="username" type="text" placeholder="Ingrese precio..." data-priceE required
                                        min="1" pattern="^\d+(\.[0-9][0-9]?)?$" title="Ingrese positivos y max 2 decimales">
                                </div>
                                <div class="mb-4 relative">
                                    <label
                                        class="block text-gray-700 text-sm font-medium mb-2 after:content-['*'] after:ml-0.5 after:text-red-500 block text-lg font-bold text-slate-700"
                                        for="username">
                                        Categoria:
                                    </label>
                                    <select name="sel-category" id="sel-category"
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        data-categoryE required>
                                        <option value="Consolas">Consolas</option>
                                        <option value="Star Wars">Star Wars</option>
                                        <option value="Diversos">Diversos</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 top-8 flex items-center pr-4 text-gray-500">
                                        <i class="fas fa-angle-down text-gray-500"></i>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
                                        Descripción:
                                    </label>
                                    <textarea placeholder="Ingrese descripcion..." data-descriptionE
                                        class="shadow-sm appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
                                        cols="30" rows="3"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="flex justify-end pt-2">
                    <input type="hidden" name="id-input" id="imageUrl" data-imageE>
                    <input type="hidden" name="id-input" id="id-input" data-idE>
                    <input type="button" class="focus:outline-none modal-closeE px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300 btn-close" value="Cancelar">
                    <button type="submit"
                        class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white enabled:hover:bg-teal-400 disabled:opacity-60"
                        data-btn-submit>Editar</button>
                </div>
            </form>
        </div>
    </div>

    <header class="header container1 ">
        <nav class="header__nav">
            <div class="header__nav-list">
                <div class="nav-list-item">
                    <a class="nav-list-link" href="../../index.html">
                        <i class="fa-solid fa-gamepad"></i>
                        <p class="alura">Alura<span class="geek">Geek</span></p>
                    </a>
                    <div class="search-wrapper">
                        <input class="search-input" type="text" placeholder="¿Qué deseas Buscar?">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="feather feather-search" viewBox="0 0 24 24">
                            <defs></defs>
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="M21 21l-4.35-4.35"></path>
                        </svg>
                    </div>
                </div>

                <div title="Cambiar Tema">
                    <label class="label" id="theme-switch">
                        <span class="toggle" id="toggle">
                            <input class="toggle-input" type="checkbox" id="checkbox_theme" />
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32" id="moon" class="icon">
                                <title>moon-fill</title>
                                <path
                                    d="M24.633 22.184c-8.188 0-14.82-6.637-14.82-14.82 0-2.695 0.773-5.188 2.031-7.363-6.824 1.968-11.844 8.187-11.844 15.644 0 9.031 7.32 16.355 16.352 16.355 7.457 0 13.68-5.023 15.648-11.844-2.18 1.254-4.672 2.028-7.367 2.028z">
                                </path>
                            </svg>

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32" id="sun" class="icon">
                                <title>sun-fill</title>
                                <path
                                    d="M16.001 8c-4.418 0-8 3.582-8 8s3.582 8 8 8c4.418 0 7.999-3.582 7.999-8s-3.581-8-7.999-8v0zM14 2c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM4 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM2 14c1.105 0 2 0.895 2 2 0 1.107-0.895 2-2 2s-2-0.893-2-2c0-1.105 0.895-2 2-2zM4 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM14 30c0-1.109 0.895-2 2-2 1.108 0 2 0.891 2 2 0 1.102-0.892 2-2 2-1.105 0-2-0.898-2-2zM24 26c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2zM30 18c-1.104 0-2-0.896-2-2 0-1.107 0.896-2 2-2s2 0.893 2 2c0 1.104-0.896 2-2 2zM24 6c0-1.105 0.895-2 2-2s2 0.895 2 2c0 1.105-0.895 2-2 2s-2-0.895-2-2z">
                                </path>
                            </svg>

                            <span class="toggle__btn" id="toggle__btn" />
                        </span>
                    </label>
                </div>

            </div>
        </nav>
    </header>

    <main class="main">
        <section class="container bg-gray ">
            <section class="products__category">
                <div class="products__category-header">
                    <h2 class="titulo2">Todos los Productos</h2>
                    <button class="boton btn-primary" onclick="openModal()">Agregar Producto</button>
                </div>
                <ul class="products__category-list list-wrap" data-product>

                </ul>
            </section>
        </section>
        <section class="contacto container bg-blue-sky" id="contacto">
            <div class="contacto__logo">
                <i class="fa-solid fa-gamepad logo"></i>
                <h1 class="alura">Alura<span class="geek">Geek</span></h1>
            </div>
            <ul class="contacto__list">
                <li class="contacto__list-item">
                    <a class="contacto__list-link">¿Quienes Somos?</a>
                </li>
                <li class="contacto__list-item">
                    <a class="contacto__list-link">Politica de Privacidad</a>
                </li>
                <li class="contacto__list-item">
                    <a class="contacto__list-link">Programa de Fidelidad</a>
                </li>
                <li class="contacto__list-item">
                    <a class="contacto__list-link">Nuestras Tiendas</a>
                </li>
                <li class="contacto__list-item">
                    <a class="contacto__list-link">¿Quiero ser Franquisiado?</a>
                </li>
                <li class="contacto__list-item">
                    <a class="contacto__list-link">Anuncie Aqui</a>
                </li>
            </ul>
            <form class="contacto__form" action="https://formsubmit.co/joel09llalli@gmail.com" name="contacto__form"
                method="post">
                <h2 class="contacto__title titulo2">Hable con Nosotros</h2>

                <div class="group">
                    <input class="contacto__form-input" name="name" id="name" type="text" required autocomplete="off">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="contacto__form-label">Nombre Completo (*)</label>
                </div>
                <div class="group">
                    <textarea class="contacto__form-input" required cols="40" rows="5" name="mensaje" id="mensaje"
                        minlength="10" autocomplete="off"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="contacto__form-label">Mensaje (*)</label>
                </div>
                <div class="group">
                    <button class="boton btn-primary" id="boton-form" type="submit"
                        title="Enviar Mensaje y recargar">Enviar
                        Mensaje</a>
                </div>
                <input type="hidden" name="_next" value="https://joe0919.github.io/portafolio_joel-llalli/">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_template" value="table">
            </form>
        </section>
    </main>
    <section class="copyright-area">
        <div class="container1">
            <div class="copyright-text">
                <p>Copyright &copy; Desarrollado por <strong>Joel Llallihuaman Giraldo</strong>
                    <br><b>2023</b>
                </p>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
        integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../assets/js/modal.js"></script>
    <script type="module" src="../../controller/product/product-controller.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>