@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Pacifico&family=Raleway&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Pacifico&family=Raleway&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

body {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

:root {
  --color-logo: #2a7ae4;
  --color-text-b: #000;
  --color-text-w: #fff;
  --color-text-blue: #0069d9;
  --color-btn-primary: #0069d9;
  --color-btn-secundary: #343a40;

  --font-color2: #253d50;
  --font-color3: #e67e22;
  --font-color4: #1c5d9f;

  --color-bsky: #eaf2fd;

  --color-input: #fff;
  --color-bar: #5264ae;
}

[data-theme="dark"] {
  --color-logo: #2a7ae4;
  --color-text: #fff;
}

.bg-blue-sky {
  background-color: var(--color-bsky);
}

/* CSS PARA EL HEADER */
.header {
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  height: 80px;
  display: flex;
  align-items: center;
  /* background-color: #1f1c24; */
}
.header__nav {
  padding: 0;
  margin: 0;
  width: 100%;
}
.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav-list-item {
  display: flex;
  align-items: center;
}
.nav-list-item .fa-gamepad {
  color: var(--color-logo);
  font-size: 1.7rem;
  margin-right: 5px;
}
.nav-list-item > h1 {
  margin: 0;
  color: var(--color-text-b);
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 10px;
}
.nav-list-item .geek {
  color: var(--color-logo);
}

.search-wrapper {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}

.dark {
  box-shadow: none;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);
}

.search-input:placeholder {
  color: var(--main-color);
  opacity: 0.6;
}
/* CSS para el banner */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/banner1.jpg") no-repeat center / cover;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.titulo1 {
  color: var(--color-text-w);
}
.titulo2 {
  color: var(--color-text-b);
}
.titulo3 {
  color: var(--color-text-b);
}
.parrafo {
  color: #fff;
}
.boton {
  text-align: center;
  display: block;
  width: 140px;
  box-sizing: border-box;
  padding: 0.8rem 0;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.2s ease;
  border: navajowhite;
}
.btn-primary {
  background-color: var(--color-btn-primary);
  color: var(--color-text-w);
}
.btn-secundary {
  background-color: var(--color-btn-secundary);
  color: var(--color-text-w);
}

/* CCS para la seccion de productos */
.container {
  padding: 4rem 6rem;
}
.container1 {
  padding: 0 6rem;
}

.products__category {
  margin: 3rem 0;
}

.products__category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__category-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.category__list-item > :not(:first-child) {
  margin: 0.7rem 0;
}

.list__title {
  font-weight: normal;
}
.list__price {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

.link {
  text-decoration: none;
  color: var(--color-text-blue);
  font-weight: 700;
}

/* CSS para el formulario */

.contacto {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.contacto__logo {
  align-self: flex-start;
}
.contacto__list {
  list-style: none;
  line-height: 2.5;
  padding: 0;
  margin: 0;
}
.contacto__form {
  flex-grow: 2;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 40px;
}
.contacto__form-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f7dc6f;
  margin: 2rem 0;
  background-color: var(--color-input);
  color: var(--color-text-b);
}
.area {
  resize: none;
}
.contacto__form-input:focus {
  outline: none;
}

/* LABEL ======================================= */
.contacto__form-label {
  color: var(--font-color2);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.contacto__form-input:focus ~ .contacto__form-label,
.contacto__form-input.used ~ .contacto__form-label {
  top: -20px;
  font-size: 14px;
  color: var(--font-title);
}

/* BOTTOM BARS ================================= */
.bar {
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-bar);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.contacto__form-input:focus ~ .bar:before,
.contacto__form-input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.contacto__form-input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.contacto__form-btn {
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
  padding: 0.7rem 0.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: var(--btn-color2);
  border-radius: 5px;
  transition: all 0.2s ease;
  text-align: center;
  border: none;
}
.contacto__form-btn:disabled {
  opacity: 0.7;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* CSS para el footer */
.copyright-area {
  /* background: #202020; */
  padding: 25px 0;
  text-align: center;
}
.copyright-text p {
  margin: 0;
  font-size: 1rem;
  color: var(--color-btn-secundary);
  line-height: 1.6;
}
.copyright-text p strong {
  color: #ff5e14;
}
.copyright-text p b {
  font-size: 1.2rem;
}

