@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Pacifico&family=Raleway&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Pacifico&family=Raleway&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  position: relative;
  z-index: -5;
}

:root {
  --color-header: #d5dbdb;

  --color-logo: #2a7ae4;
  --color-text-b: #000;
  --color-text-w: #fff;
  --color-text-g: #707070;
  --color-text-blue: #0069d9;
  --color-btn-primary: #0069d9;
  --color-btn-secundary: #343a40;

  --font-color1: #6c757d;
  --font-color2: #253d50;
  --font-color3: #e67e22;
  --font-color4: #1c5d9f;
  --font-color5: #2a7ae4;
  --font-color6: #423e3d;
  --font-card-1: #000;
  --font-color7: #253d50;

  --bg-blue-sky: #eaf2fd;
  --bg-gray: #f2f4f4;
  --bg-gray1: #f5f5f5;

  --color-input: #fff;
  --color-text-input: #253d50;
  --color-text-input-focus: #0069d9;
  --color-bar: #5264ae;
  --color-main: #fff;
  --color-card: #fff;

  --color-bg-content: #fff;
  --color-bg-form: #fff;

  --success: #28a745;
  --secundary: #6c757d;
  --info: #17a2b8;
  --primary: #007bff;
  --danger: #d33;
  --warning: #ffc107;

  --bg-border-primary: #007bff;
  --bg-border-secundary: #6c757d;
  --bg-border-danger: #d33;
  --bg-btn-primary: #fff;
  --bg-btn-secundary: #fff;
  --bg-btn-danger: #fff;
  --btn-primary: #007bff;
  --btn-secundary: #6c757d;
  --btn-danger: #d33;

  --shadow1: rgba(0, 0, 0, 0);
  --shadow2: rgba(0, 0, 0, 0.1);

  --shadow-car1: rgba(127, 140, 141, 1);
  --shadow-car2: rgba(204, 209, 209, 1);
  --shadow-car3: rgba(255, 255, 255, 0);

  --shadow-card1: rgba(50, 50, 93, 0.25);
  --shadow-card2: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --color-header: #242526;

  --color-logo: #17abfd;
  --color-text: #fff;
  --color-text-blue: #17abfd;

  --color-btn-secundary: #fff;

  --color-text-b: #fff;
  --color-text-g: #CCD1D1;

  --font-color1: #edcd4a;
  --font-color2: #fff;
  --font-color3: #e67e22;
  --font-color4: #fff;
  --font-color5: #2a7ae4;
  --font-color6: gray;
  --font-card-1: #aab7b8;

  --color-text-input: #253d50;
  --color-text-input-focus: #f4d03f;
  --color-main: #18191a;
  --color-card: #242526;

  --color-bg-content: #18191a;
  --color-bg-form: #242526;

  --bg-blue-sky: #242526;
  --bg-gray: #18191a;
  --bg-gray1: #18191a;

  --success: #28a745;
  --secundary: #6c757d;
  --info: #17a2b8;
  --primary: #007bff;
  --danger: #d33;
  --warning: #ffc107;

  --bg-border-primary: #007bff;
  --bg-border-secundary: #6c757d;
  --bg-border-danger: #d33;
  --bg-btn-primary: #007bff;
  --bg-btn-secundary: #6c757d;
  --bg-btn-danger: #d33;
  --btn-primary: #fff;
  --btn-secundary: #fff;
  --btn-danger: #fff;
  --color-border: transparent;

  --shadow1: rgba(255, 255, 255, 0);
  --shadow2: rgba(255, 255, 255, 0.1);

  --shadow-car1: rgb(92, 100, 104);
  --shadow-car2: rgb(51, 56, 58);
  --shadow-car3: rgba(24, 26, 27, 0);

  --shadow-card1: rgba(116, 116, 116, 0.25);
  --shadow-card2: rgba(255, 255, 255, 0.3);
}

.bg-blue-sky {
  background-color: var(--bg-blue-sky);
}
.bg-gray {
  background-color: var(--bg-gray);
}
.bg-gray1 {
  background-color: var(--bg-gray1);
}
.list-wrap {
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 60px;
}
.container {
  padding: 3rem 4rem;
}
.container1 {
  padding: 0 4rem;
}
.container2 {
  padding: 3rem 4rem;
}

/* CSS PARA EL HEADER */
.header {
  margin: 0;
  box-shadow: var(--shadow1) 0px 0px 0px 0px, var(--shadow1) 0px 0px 0px 0px,
    var(--shadow2) 0px 1px 3px 0px, var(--shadow2) 0px 1px 2px -1px;

  display: flex;
  align-items: center;
  background-color: var(--color-header);
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  transition: all 0.3s;
}

.header__nav {
  display: flex;
  padding: 1rem 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 1rem;
  width: 100%;
}
.nav-list-item-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}
.nav-list-item {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-list-link {
  text-decoration: none;
  display: flex;
  /* margin-right: 20px; */
  order: 1;
}

.div-btn-login {
  order: 3;
}

.theme {
  order: 4;
}
.nav-list-link > i {
  color: var(--color-logo);
  font-size: 1.5rem;
  margin: auto;
}
.logo {
  color: var(--color-logo);
  font-size: 1.7rem;
  margin-right: 5px;
}
.alura {
  margin: 0;
  color: var(--color-text-b);
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 0 0 5px;
}
.geek {
  color: var(--color-logo);
}

.search-wrapper {
  border-radius: 0.8rem;
  background-color: white;
  padding-right: 0.6rem;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 55rem;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.4),
    0 24px 20px -24px rgba(71, 82, 107, 0.2);
  overflow: hidden;
  order: 2;
}

.dark {
  box-shadow: none;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: white;
  color: var(--font-color7);
}

.search-input:placeholder {
  color: var(--font-color2);
  opacity: 0.6;
}

.btn-search {
  border: none;
  background: none;
  transition: all 0.3s;
}
.btn-search:hover {
  color: #0069d9;
  font-weight: 800;
}

/* CSS para el banner */
.main {
  position: relative;
  background-color: var(--color-main);
  z-index: -2;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/banner1.jpg") no-repeat center / cover;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* padding-left: 2rem; */
}

.titulo1 {
  color: var(--color-text-w);
  font-size: 1.6rem;
  font-weight: 800;
}
.titulo2 {
  color: var(--color-text-b);
  font-size: 1.5rem;
  font-weight: 800;
}
.titulo3 {
  color: var(--color-text-b);
}
.parrafo {
  color: #fff;
}
.boton {
  text-align: center;
  display: block;
  width: 10rem;
  box-sizing: border-box;
  padding: 0.8rem 0;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.4s ease;
  border: none;
}

.boton1 {
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem 0;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
}

.boton1:hover {
  filter: brightness(125%);
}

.boton:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--color-text-w);
}
.btn-secundary {
  background-color: var(--secundary);
  color: var(--color-text-w);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--color-text-w);
}
.btn-info {
  background-color: var(--info);
  color: var(--color-text-w);
}
.btn-warning {
  background-color: var(--warning);
  color: var(--color-text-b);
}

/* CCS para la seccion de productos */

.products__category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  scroll-margin-top: 81px;
}
.products__category-list {
  list-style: none;
  padding: 0;
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem 1rem;
}

.category-title {
  margin: 2rem 0 0.9rem;
}

.category__list-item {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
  /* min-width: calc((100% - 50px) / 6); */
  background-color: var(--color-card);
  padding-bottom: 1rem;
  color: var(--font-card-1);
}

.list__icons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.list__icons.prod i {
  font-size: 1.3rem;
  margin: 0;
  transition: all 0.3s;

  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

.list__icons .link-all i {
  background-color: none;
  color: black;
  font-size: 1.3rem;
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

.list__icons .btn-ver {
  color: var(--btn-secundary);
  border: 2px solid var(--bg-border-secundary);
  background-color: var(--bg-btn-secundary);
}
.list__icons .btn-ver:hover {
  color: white;
  background-color: var(--secundary);
  filter: brightness(90%);
}
.list__icons .btn-editar {
  color: var(--btn-primary);
  border: 2px solid var(--bg-border-primary);
  background-color: var(--bg-btn-primary);
}
.list__icons .btn-editar:hover {
  color: white;
  background-color: var(--primary);
  filter: brightness(90%);
}
.list__icons .btn-delete {
  color: var(--btn-danger);
  border: 2px solid var(--bg-border-danger);
  background-color: var(--bg-btn-danger);
}
.list__icons .btn-delete:hover {
  color: white;
  background-color: var(--danger);
  filter: brightness(90%);
}

.link-product {
  text-decoration: none;
  color: black;
}

.div-img {
  overflow: hidden;
  width: auto;
  height: 170px;
}

.div-caract {
  padding: 15px 20px;
  line-height: 1.9rem;
}

.list__img {
  width: 100%;
  transition: all 0.5s ease;
  object-fit: cover;
}
.list__img:hover {
  transform: scale(1.3);
}

/* .category__list-item > :not(:first-child) {
  margin: 0.7rem 0;
} */

.list__category {
  font-weight: 500;
  font-style: italic;
}
.list__title {
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: var(--font-color4);
  margin-bottom: 0.2rem;
  font-weight: 600;
  height: 48px;
}
.list__price {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: var(--font-color1);
}

.link {
  text-decoration: none;
  color: var(--color-text-blue);
  font-weight: 700;
}

/* CSS para el formulario de Contacto */

.contacto {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.contacto__text {
  display: flex;
  justify-content: space-between;
  column-gap: 0.7rem;
}
.contacto__logo {
  align-self: flex-start;
}
.contacto__list {
  list-style: none;
  line-height: 3;
  padding: 0;
  margin: 0;
}
.contacto__logo {
  display: flex;
}
.contacto__logo .logo {
  font-size: 2.5rem;
  margin: auto;
}
.contacto__logo .alura {
  font-size: 2.5rem;
}

.contacto__form {
  flex-grow: 2;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 40px;
}
.contacto__form-input {
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f7dc6f;
  margin: 2rem 0;
  background-color: var(--color-input);
  color: var(--color-text-b);
}
.area {
  resize: none;
}
.contacto__form-input:focus {
  outline: none;
}

.contacto__list-link {
  color: var(--color-text-b);
}

/* LABEL ======================================= */
.contacto__form-label {
  color: var(--color-text-input);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.contacto__form-input:focus ~ .contacto__form-label,
.contacto__form-input.used ~ .contacto__form-label {
  top: -20px;
  font-size: 14px;
  color: var(--color-text-input-focus);
}

/* BOTTOM BARS ================================= */
.bar {
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-bar);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.contacto__form-input:focus ~ .bar:before,
.contacto__form-input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.contacto__form-input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.contacto__form-btn {
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
  padding: 0.7rem 0.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: var(--btn-color2);
  border-radius: 5px;
  transition: all 0.2s ease;
  text-align: center;
  border: none;
}
.contacto__form-btn:disabled {
  opacity: 0.7;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* CSS para el footer */

.copyright-area {
  background: var(--color-main);
  padding: 25px 0;
  text-align: center;
}
.copyright-text p {
  margin: 0;
  font-size: 1rem;
  color: var(--color-btn-secundary);
  line-height: 1.6;
}
.copyright-text p strong {
  color: #ff5e14;
}
.copyright-text p b {
  font-size: 1.2rem;
}

/* CSS PARA EL MODAL DE INSERCIÓN */
.agregar__imagen-div {
  background-image: url("../img/no-img-photo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 150px;
  width: 32%;
  height: 150px;
  margin-bottom: 1rem;
}

.div-input-file {
  width: 60%;
}

.labelarchivo {
  display: block;
  background-color: var(--color-logo);
  color: var(--color-text-w);
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

/* **************** CSS PARA DISTINTOS DISPOSITIVOS *******************  */

/* Escritorio extra grande */
/* @media only screen and (min-width: 1200px){

} */
/* Escritorio grande */
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding: 2rem 2rem;
  }
  .container2 {
    max-width: 100%;
    padding: 2rem 2rem;
  }

  .container1 {
    padding: 0 2rem;
  }

  /* .header__nav {
    width: 95%;
  } */

  .contacto {
    justify-content: space-between;
    gap: 2rem;
  }
}
/* Escritorio pequeño / tablet */
@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 2rem 1rem;
  }
  .container2 {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .container1 {
    padding: 0rem 2rem;
  }

  /* .header__nav {
    width: 91%;
  } */

  .contacto {
    justify-content: space-between;
  }

  .contacto__text {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .link > i {
    display: none;
  }
}
/* Tablets y phablets */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 2rem 1rem;
  }
  .container2 {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .container1 {
    padding: 0rem 1rem;
  }

  /* .header__nav {
    width: 94%;
  } */

  .btn-login {
    width: 6rem;
  }
  .contacto {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .contacto__logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  .contacto__logo .logo {
    margin: 0;
  }

  .contacto__list {
    width: 100%;
    text-align: center;
  }
  .contacto__list-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .contacto__text {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .link > i {
    display: none;
  }
}
/* Teléfonos */
@media only screen and (max-width: 575px) {
  .header {
    padding: 0.7rem 0;
  }
  .container {
    max-width: 100%;
    padding: 2rem 1rem;
  }
  .container2 {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .container1 {
    padding: 0rem 1rem;
  }

  .div-logo {
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
  }

  .header__nav-list {
    padding-bottom: 0.6rem;
  }

  /* .header__nav {
    width: 94%;
  } */

  .btn-login {
    width: 3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    box-sizing: border-box;
  }
  .btn-login span {
    display: none;
  }

  .contacto {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .contacto__logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  .contacto__logo .logo {
    margin: 0;
  }

  .contacto__list {
    width: 100%;
    text-align: center;
  }
  .contacto__list-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .contacto__text {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .link > i {
    display: none;
  }
}
/* @media only screen and (max-width: 380px) {

} */
